<h1>Eat Da Burger!</h1>

<h4>Not Devoured:</h4>
<div class="notDevoured">
  {{#each burger}}
    {{#unless this.devoured}}
      <p>{{this.id}}. {{this.burger_name}}</p>
      <button class="devour-burger" data-id="{{this.id}}">Devour</button>
    {{/unless}}
  {{/each}}
</div>

<h4>Not Devoured:</h4>
<div class="devoured">
  {{#each burger}}
    {{#if this.devoured}}
      <p>{{this.id}}. {{this.burger_name}}</p>
    {{/if}}
  {{/each}}
</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit" id="add-burger">Add Burger</button>
</form>


<script type="text/javascript">
  $(".devour-burger").on("click", function(event) {
    event.preventDefault();
    
    var id = $(this).data("id");

    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT"
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#add-burger").on("click", function(event) {
    event.preventDefault();

    var newBurger = {
      burger_name: $("#burger").val().trim()
    };

    console.log(newBurger);

    $.ajax("api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new movie");
        location.reload();
      }
    );
  });
</script>
